services:
  web:
    image: gl3b/tin-pro:latest
    command: sh -c "npm run seed && npm run dev"
    ports:
      - "8000:8000"
    env_file:
      - .env

  mongo:
    image: mongo:7
    container_name: final_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
